<section>
  <h1>About author</h1>
  <div id="about-author">
  	<img src="/images/profile-image.png">
  	<p>
      Paul Ser, professional web developer from Ukraine with passion on Rails, NodeJS, Angular and many other cutting edge technologies.
    </p>
    <div class="center-text">
      <a target="_blank" href="https://www.facebook.com/paul.serous"><img alt="My Facebook page" src="/images/icon-facebook.png"></a>
      <a target="_blank" href="https://plus.google.com/u/0/105186069542380536377"><img alt="My G+ page" src="/images/icon-google.png"></a>
      <a target="_blank" href="http://www.linkedin.com/in/paulser"><img alt="My linkedIn profile" src="/images/icon-linkedin.png"></a>
      <a target="_blank" href="http://instagram.com/pashka4281"><img alt="My photos on Instagram" src="/images/icon-instagram.png"></a>
    </div>
  </div>
</section>